.movies-list-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .filters {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 80%;
    padding: 8px;
    margin-right: 10px;
    margin-top: 8px;
    text-align: center;
  }

  .select-input-field {
    width: 80%;
    padding: 8px;
    margin-right: 10px;
    margin-top: 8px;
    text-align: left;
  }
  
  .apply-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .apply-button:hover {
    background-color: #0056b3;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .styled-table th {
    background-color: #f2f2f2;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .page-button {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #007bff;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .page-button:hover:not(.active) {
    background-color: #e9ecef;
  }
  
  .page-button:disabled {
    color: #6c757d;
    cursor: not-allowed;
  }
  
  .page-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .page-button:first-child,
  .page-button:last-child {
    font-weight: bold;
  }
  