<div class="movies-list-container">
  <h2>
    List Movies
  </h2>
  <table class="styled-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Year<br/>
          <input type="number" id="filterYear" [(ngModel)]="filterYear" class="select-input-field" placeholder="Filter by Year" (keyup)="applyFilters()"/>
        </th>
        <th>Title</th>
        <th>Winner<br/>
          <select id="filterWinner" [(ngModel)]="filterWinner" class="input-field" (change)="applyFilters()">
            <option [ngValue]="undefined">Yes/No</option>
            <option [ngValue]="true">Yes</option>
            <option [ngValue]="false">No</option>
          </select>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.id }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.winner ? 'Yes' : 'No' }}</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button class="page-button" (click)="goToFirstPage()" [disabled]="page === 0">First</button>
    <button class="page-button" (click)="goToPreviousPageSet()" [disabled]="page === 0">«</button>
    <button class="page-button" *ngFor="let p of getPages()" (click)="changePage(p)" [class.active]="page === p">{{ p + 1 }}</button>
    <button class="page-button" (click)="goToNextPageSet()" [disabled]="page + 1 >= totalPages">»</button>
    <button class="page-button" (click)="goToLastPage()" [disabled]="page + 1 >= totalPages">Last</button>
  </div>
</div>
